header {
    margin: 0.2rem 0rem 0.4rem 0.4rem;
}
body {
    margin: 0;
    padding: 0;
}
a { 
    text-decoration: none; 
}
li {
    list-style: None;
}
#container {
    padding-left: 10%;
    width: 80%; 
    height: 100%;
}
#content > div {
    padding: 1rem;
}
@media (max-width: 430px) {
        #container {
        position: relative;
        padding-left: 0%;
        width: 100%;
        height: 100%;
    }
    #content > div {
        padding: 0rem;
    }
     
}