

body {
    margin: 1rem;
    margin-inline: 1rem;
}
.container {
    
}
.diff {
    display: flex;
    flex-direction: column;
    border: solid 2px red;
    font-size: 13px;   
}
.diff-wrap1 {
    display: flex;
    flex-direction: column; 
    border: solid 1px blue;
    margin-top: 1rem;
    margin-inline: 0rem;
}
/*  GRID  */
.header-layout {
    display: grid;


    grid-template-areas:
        "datetime user"
        "arturl";
}

/* assign areas 
.datetime { grid-area: datetime; }
.user { grid-area: user; }
.arturl { grid-area: arturl; }
*/

/* 
 grid-template-rows: 1fr 1fr;
 grid-template-rows: 10vw 10vw 10vw;

*/


/* desktop */
@media (min-width: 768px) {  

    /*  GRID  */
    .header-layout {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
       
        grid-template-areas:
            "datetime user arturl";
    }

    .diff {
        flex-direction: row; 
        border: solid 2px yellow;
        font-size: 15px;

        
    }
    .diff-wrap1 {
        display: flex;
        flex-direction: row; 
        border: solid 1px blue;
        margin-top: 1rem;
        margin-inline: 1rem;
}
    body {
        margin: 2rem
    } 
    

}

.bold {
   font-weight: bold;
}
.debug {
    border: solid 1px red;
}
