

.item {
    padding: 1rem 1.5rem 1rem 1.5rem;
    transition: transform 0.1s ease;            
}
.item:hover {
    transform: scale(1.2);   
}
.menu-links {
    display: flex; 
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 10%;
    width: 80%; 
    height: 100%;
}
.icon {
    display:none;
}
.content {}
/* mobile */
@media (max-width: 430px) {
    nav {
        position: fixed;
        top: 0;
    }
    .item {
        padding: 0rem 0rem 0.5rem 0rem; 
    }
    .item:hover {
        transform: none;
    }
    .menu-links {
        flex-direction: column;      
        transition: left 1s ease;
        width:fit-content;
        left:-200px;
        z-index: 100;
    }
    .item:first-child {
        margin-top: 0.4rem;
    }  
    .item {
        background-color: red;
        border-radius:5%;
        margin: 0rem 0.9rem 0.9rem 0rem;
        padding: 0rem 0.7rem 0.3rem 0.7rem;
        text-align: center;
    }
    .container {
        position: relative;
        padding-left: 0%;
        width: 100%;
        height: 100%;
    } 
    .openmenu {
         left:0px;
    }
    .icon {
        margin: 0.5rem 0 0 0.5rem;
        display:inline;
        width:40px;
        height:40px;
        transition: transform 0.7s ease;           
    }
    .rota {
        transform: rotate(-90deg)
    }
}
