.w1\/2 {
    width: 50% !important ;    
}
.w1\/3 {
    width: 33% !important;
}
.w1\/5 {
    width: 20% !important;
}
h1 {
    margin:0 auto;
}
.hcenter {
    display: flex;
    justify-content: center;
}