<style>
#abcdario {
    display:grid;
    grid-template-areas: 
    "A H O V"
    "B I P W"
    "C J Q X"
    "D K R Y"
    "E L S Z"
    "F M T anexo"
    "G N U discusion"
    "1 Ñ 2 0";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
}
.listin {
    background-color: var(--bluez);
    width: auto;
    margin-right: 1.5rem;
    box-shadow: 2px 2px 5px var(--black);
}

#A { grid-area: A;}
#B { grid-area: B;}
#C { grid-area: C;}
#D { grid-area: D;}
#E { grid-area: E;}
#F { grid-area: F;}
#G { grid-area: G;}
#H { grid-area: H;}
#I { grid-area: I;}
#J { grid-area: J;}
#K { grid-area: K;}
#L { grid-area: L;}
#M { grid-area: M;}
#N { grid-area: N;}
#Ñ { grid-area: Ñ;}
#O { grid-area: O;}
#P { grid-area: P;}
#Q { grid-area: Q;}
#R { grid-area: R;}
#S { grid-area: S;}
#T { grid-area: T;}
#U { grid-area: U;}
#V { grid-area: V;}
#W { grid-area: W;}
#X { grid-area: X;}
#Y { grid-area: Y;}
#Z { grid-area: Z;}
#anexo { grid-area: anexo;}
#discusion { grid-area: discusion;}

@media (max-width: 1400px) and (orientation: landscape), (max-width: 1400px) and (orientation:portrait) {

    #abcdario {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "A"
        "B"
        "C"
        "D"
        "E"
        "F"
        "G"
        "H"
        "I"
        "J"
        "K"
        "L"
        "M"
        "N"
        "Ñ"
        "O"
        "P"
        "Q"
        "R"
        "S"
        "T"
        "U"
        "V"
        "W"
        "X"
        "Y"
        "Z"
        "anexo"
        "discusion"; 
    }
    .listin {
        position: sticky;
        top:0;
        background-color: var(--bluez);
        width: 100%;
    }
    
}
</style>
<div id="alfabetrium">
    <div id="abcdario">
        <div id="A"><a class="listin dfcenter"><b>A</b></a><ul></ul></div>
        <div id="B"><a class="listin dfcenter"><b>B</b></a><ul></ul></div>
        <div id="C"><a class="listin dfcenter"><b>C</b></a><ul></ul></div>
        <div id="D"><a class="listin dfcenter"><b>D</b></a><ul></ul></div>
        <div id="E"><a class="listin dfcenter"><b>E</b></a><ul></ul></div>
        <div id="F"><a class="listin dfcenter"><b>F</b></a><ul></ul></div>
        <div id="G"><a class="listin dfcenter"><b>G</b></a><ul></ul></div>
        <div id="H"><a class="listin dfcenter"><b>H</b></a><ul></ul></div>
        <div id="I"><a class="listin dfcenter"><b>I</b></a><ul></ul></div>
        <div id="J"><a class="listin dfcenter"><b>J</b></a><ul></ul></div>
        <div id="K"><a class="listin dfcenter"><b>K</b></a><ul></ul></div>
        <div id="L"><a class="listin dfcenter"><b>L</b></a><ul></ul></div>
        <div id="M"><a class="listin dfcenter"><b>M</b></a><ul></ul></div>
        <div id="N"><a class="listin dfcenter"><b>N</b></a><ul></ul></div>
        <div id="Ñ"><a class="listin dfcenter"><b>Ñ</b></a><ul></ul></div>
        <div id="O"><a class="listin dfcenter"><b>O</b></a><ul></ul></div>
        <div id="P"><a class="listin dfcenter"><b>P</b></a><ul></ul></div>
        <div id="Q"><a class="listin dfcenter"><b>Q</b></a><ul></ul></div>
        <div id="R"><a class="listin dfcenter"><b>R</b></a><ul></ul></div>
        <div id="S"><a class="listin dfcenter"><b>S</b></a><ul></ul></div>
        <div id="T"><a class="listin dfcenter"><b>T</b></a><ul></ul></div>
        <div id="U"><a class="listin dfcenter"><b>U</b></a><ul></ul></div>
        <div id="V"><a class="listin dfcenter"><b>V</b></a><ul></ul></div>
        <div id="W"><a class="listin dfcenter"><b>W</b></a><ul></ul></div>
        <div id="X"><a class="listin dfcenter"><b>X</b></a><ul></ul></div>
        <div id="Y"><a class="listin dfcenter"><b>Y</b></a><ul></ul></div>
        <div id="Z"><a class="listin dfcenter"><b>Z</b></a><ul></ul></div>
        <div id="anexo"><a class="listin dfcenter">Anexo</a><ul><ul></div>
        <div id="discusion"><a class="listin dfcenter">Discusiones</a><ul><ul></div>
    </div>
</div>   

<script>
var perPage = 3;
init()
async function init() {
    sessionStorage.getItem('alfabetrium') == null? await fetchLiLinks() : await storageLiLinks()
    document.querySelectorAll('input').forEach(e => e.addEventListener('input',pager));
    document.querySelectorAll('button').forEach(e => e.addEventListener('click',pager));
}

function storageLiLinks() {
    freezeGUI('Cargando...');
    obj = JSON.parse(sessionStorage.getItem('alfabetrium'))
    let values = Object.values(obj.char);
    for (let i=0; i<values.length; i++) { 
        let char = Object.keys(values[i]);
        div = document.getElementById(char)
        a = div.childNodes[0]
        ul = div.childNodes[1]
        urls = Object.values(values[i][char].urls)
        if (urls.length > 0)
            a.href="#listby?c="+char

        for (let j=0; j<urls.length; j++) 
            ul.insertAdjacentHTML('beforeend',li(urls[j]))

        if ((urls[0]?.totalUrls ?? 0) > perPage)
            addPager(ul,urls[0].totalUrls);
    }
    freezeGUI(false);
}

async function fetchLiLinks() {
    freezeGUI('Cargando...');
    sessionStorageObj = { char : [] }
    let c = 65;
    for (let i=c; i<93; i++) {
        let char = String.fromCharCode(i)
        if (i == 91)
            char = 'anexo';
        else if (i == 92)
            char = 'discusion';
        charObj = { [char]: { urls:[], pager:{ page:0, perPage: perPage } } }

        var urls = await query('urlsStartsWith',char,charObj[char].pager);

        div = document.getElementById(char)
        a = div.childNodes[0]
        if (urls.length > 0)
            a.href="#listby?c="+char
        ul = div.childNodes[1]

        for (let j=0; j<urls.length; j++) {       
            html = li(urls[j]);
            ul.insertAdjacentHTML('beforeend',html)
            charObj[char].urls.push(urls[j]);
        }
        if ((urls[0]?.totalUrls ?? 0) > perPage) 
            addPager(ul,urls[0].totalUrls);

        sessionStorageObj.char.push(charObj);
    }
    sessionStorage.setItem('alfabetrium', JSON.stringify(sessionStorageObj));
    freezeGUI(false);
}

function addPager(ul,total) {
    var nPages = Number.parseInt((total/perPage));
    if (!Number.isInteger(total/perPage))
        nPages++;
    //nPages = nPages == 1? 2 : nPages;
    let char = ul.closest('div').id;
    let currentPage=1;
    var sessionObj = JSON.parse(sessionStorage.getItem('alfabetrium'))

    if (sessionObj != null) {
        let pos = char.charCodeAt(0)-65;
        if (char.length > 1 )
            pos = char[0] == 'a'? 27 : 28;
        currentPage = sessionObj.char[pos][char].pager.page+1
    }

    var html=`
    <div class="dflex pager mb1">
        <div class="dflex">
            <button class="prevPage"><label class="prevPage"> < </label></button>
            <input class="" type="text" value=${currentPage}>
            <label class="pr1">de </label>
            <label class="totalPages">${nPages} </label>
            <button class="nextPage"><label class="nextPage"> > </label></button>
        </div>
    </div>`
    ul.parentElement.insertAdjacentHTML('beforeend',html)
    pager( {target: ul.nextElementSibling.querySelector('input')} );
}

function li(obj) {
    text = decodeURIComponent(obj.articleUrl.split('/').at(-1)).replaceAll('_',' ').replace('Anexo:','')
    html = `
    <li class="d-mr1-5">
        <div class="link">
            <a class="articleUrl" href="#diffs?diff=${obj.articleUrl}">${text}</a>
            <label title="nº de ediciones" class="n-editions">${obj.nedits}</label>
            <label class="bg-cyan bold info" onclick="info(event)">?</label>
        </div>
    </li>`
    return html;
}

async function pager(evt) {
    let div = evt.target.closest('.pager').parentElement;
    let btns = evt.target.closest('div').querySelectorAll('button');
    let prevBtn = btns[0], nextBtn = btns[1];
    let char = div.id;
    let pos = char.charCodeAt(0)-65;
    if (char.length > 1 )
        pos = char[0] == 'a'? 27 : 28;
    let currentPage = Number.parseInt(div.querySelector('input').value);
    let lastPage = Number.parseInt(div.querySelector('.totalPages').textContent);
    let sessionObj = JSON.parse(sessionStorage.getItem('alfabetrium'));
    let updateRegs = false;
    
    if (sessionObj != null) {
        if (evt.type == 'click') {
            if (evt.target.classList.contains('prevPage')) {
                currentPage -= 1; 
                sessionObj.char[pos][char].pager.page -= 1;
            } else {
                currentPage += 1;
                sessionObj.char[pos][char].pager.page += 1;
            }
            div.querySelector('input').value = currentPage;
            updateRegs = true;
        } else {
            let val = Number.parseInt(div.querySelector('input').value);
            if (isNaN(val) || val < 1 || val > lastPage 
            || val == (sessionObj.char[pos][char].pager.page+1)) {
                div.querySelector('input').value = sessionObj.char[pos][char].pager.page+1;
            } else {
                currentPage = val;
                sessionObj.char[pos][char].pager.page = currentPage-1; 
                updateRegs = true;
            }
        }
        if (updateRegs) {
            let urls = await query('urlsStartsWith',char,sessionObj.char[pos][char].pager);
            sessionObj.char[pos][char].urls = [];
            let ul = div.querySelector('ul');
            ul.innerHTML = '';

            for (let i=0; i<urls.length; i++) {
                sessionObj.char[pos][char].urls.push(urls[i]);
                html = li(urls[i]);
                ul.insertAdjacentHTML('beforeend',html);
            }
            sessionStorage.setItem('alfabetrium', JSON.stringify(sessionObj));
        }
    }
    nextBtn.disabled = currentPage == lastPage? true : false;
    prevBtn.disabled = currentPage == 1? true : false;
}
</script>

