<style>
#abcdario {
    display:grid;
    grid-template-areas: 
    "A H O V"
    "B I P W"
    "C J Q X"
    "D K R Y"
    "E L S Z"
    "F M T anexo"
    "G N U discusion"
    "1 Ñ 2 0";
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.listin {
    background-color: var(--bluez);
    width: 80%;
}
#A { grid-area: A;}
#B { grid-area: B;}
#C { grid-area: C;}
#D { grid-area: D;}
#E { grid-area: E;}
#F { grid-area: F;}
#G { grid-area: G;}
#H { grid-area: H;}
#I { grid-area: I;}
#J { grid-area: J;}
#K { grid-area: K;}
#L { grid-area: L;}
#M { grid-area: M;}
#N { grid-area: N;}
#Ñ { grid-area: Ñ;}
#O { grid-area: O;}
#P { grid-area: P;}
#Q { grid-area: Q;}
#R { grid-area: R;}
#S { grid-area: S;}
#T { grid-area: T;}
#U { grid-area: U;}
#V { grid-area: V;}
#W { grid-area: W;}
#X { grid-area: X;}
#Y { grid-area: Y;}
#Z { grid-area: Z;}
#anexo { grid-area: anexo;}
#discusion { grid-area: discusion;}

@media (max-width: 900px) and (orientation: landscape), (max-width: 430px) and (orientation:portrait) {

    #abcdario {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "A"
        "B"
        "C"
        "D"
        "E"
        "F"
        "G"
        "H"
        "I"
        "J"
        "K"
        "L"
        "M"
        "N"
        "Ñ"
        "O"
        "P"
        "Q"
        "R"
        "S"
        "T"
        "U"
        "V"
        "W"
        "X"
        "Y"
        "Z"
        "anexo"
        "discusion"; 
    }
    .listin {
        position: sticky;
        top:0;
        background-color: var(--bluez);
        width: 100%;
    }
}
</style>
<div id="alfabetrium">
    <div id="abcdario">
        <div id="A"><a href="#" class="listin dfcenter"><b>A</b></a><ul></ul></div>
        <div id="B"><a href="#" class="listin dfcenter"><b>B</b></a><ul></ul></div>
        <div id="C"><a href="#" class="listin dfcenter"><b>C</b></a><ul></ul></div>
        <div id="D"><a href="#" class="listin dfcenter"><b>D</b></a><ul></ul></div>
        <div id="E"><a href="#" class="listin dfcenter"><b>E</b></a><ul></ul></div>
        <div id="F"><a href="#" class="listin dfcenter"><b>F</b></a><ul></ul></div>
        <div id="G"><a href="#" class="listin dfcenter"><b>G</b></a><ul></ul></div>
        <div id="H"><a href="#" class="listin dfcenter"><b>H</b></a><ul></ul></div>
        <div id="I"><a href="#" class="listin dfcenter"><b>I</b></a><ul></ul></div>
        <div id="J"><a href="#" class="listin dfcenter"><b>J</b></a><ul></ul></div>
        <div id="K"><a href="#" class="listin dfcenter"><b>K</b></a><ul></ul></div>
        <div id="L"><a href="#" class="listin dfcenter"><b>L</b></a><ul></ul></div>
        <div id="M"><a href="#" class="listin dfcenter"><b>M</b></a><ul></ul></div>
        <div id="N"><a href="#" class="listin dfcenter"><b>N</b></a><ul></ul></div>
        <div id="Ñ"><a href="#" class="listin dfcenter"><b>Ñ</b></a><ul></ul></div>
        <div id="O"><a href="#" class="listin dfcenter"><b>O</b></a><ul></ul></div>
        <div id="P"><a href="#" class="listin dfcenter"><b>P</b></a><ul></ul></div>
        <div id="Q"><a href="#" class="listin dfcenter"><b>Q</b></a><ul></ul></div>
        <div id="R"><a href="#" class="listin dfcenter"><b>R</b></a><ul></ul></div>
        <div id="S"><a href="#" class="listin dfcenter"><b>S</b></a><ul></ul></div>
        <div id="T"><a href="#" class="listin dfcenter"><b>T</b></a><ul></ul></div>
        <div id="U"><a href="#" class="listin dfcenter"><b>U</b></a><ul></ul></div>
        <div id="V"><a href="#" class="listin dfcenter"><b>V</b></a><ul></ul></div>
        <div id="W"><a href="#" class="listin dfcenter"><b>W</b></a><ul></ul></div>
        <div id="X"><a href="#" class="listin dfcenter"><b>X</b></a><ul></ul></div>
        <div id="Y"><a href="#" class="listin dfcenter"><b>Y</b></a><ul></ul></div>
        <div id="Z"><a href="#" class="listin dfcenter"><b>Z</b></a><ul></ul></div>
        <div id="anexo"><a href="#" class="listin dfcenter">Anexo</a><ul><ul></div>
        <div id="discusion"><a href="#" class="listin dfcenter">Discusiones</a><ul><ul></div>
    </div>
</div>   

<script>

if (sessionStorage.getItem('alfabetrium') == null)
    fetchLiLinks()
else
    storageLiLinks()

function storageLiLinks() {
    obj = JSON.parse(sessionStorage.getItem('alfabetrium'))

    let values = Object.values(obj.char);
    for (let i=0; i<values.length; i++) { 
        let id = Object.keys(values[i]);
        div = document.getElementById(id)
        a = div.childNodes[0]
        a.href="#listby?c="+id
        ul = div.childNodes[1]
        urls = Object.values(values[i])
        
        for (let j=0; j<urls.length; j++)     
            ul.insertAdjacentHTML('beforeend',urls[j].join('')) //JSON.stringify use array.join(',') 
    }
}
async function fetchLiLinks() {
    sessionStorageObj = { 
            char : [],
    }
    let c = 65;
    for (let i=c; i<91; i++) {
        let char = String.fromCharCode(i)
        charObj = { [char]: [] }
        var urls = await query('urlsStartsWith',char);
        div = document.getElementById(char)
        a = div.childNodes[0]
        a.href="#listby?c="+char
        ul = div.childNodes[1]

        for (let j=0; j<urls.length; j++) {       
            text = decodeURIComponent(urls[j].articleUrl.split('/').at(-1)).replaceAll('_',' ')
            html = `<li><a href="#diffs?diff=${urls[j].articleUrl}">${text}</a></li>`
            ul.insertAdjacentHTML('beforeend',html)
            charObj[char].push(html)
        }
        sessionStorageObj.char.push(charObj);
    }
    
    urls = await query('anexo');
    div = document.getElementById('anexo')
    a = div.childNodes[0]
    a.href="#listby?c=anexo"
    ul = div.childNodes[1]
    charObj = { anexo: [] }

    for (let j=0; j<urls.length; j++) {               
        text = decodeURIComponent(urls[j].articleUrl.split('/').at(-1)).replaceAll('_',' ').replace('Anexo:','')
        html = `<li><a href="#diffs?diff=${urls[j].articleUrl}">${text}</a></li>`
        ul.insertAdjacentHTML('beforeend',html)
        charObj.anexo.push(html)
    }
    sessionStorageObj.char.push(charObj);
    sessionStorage.setItem('alfabetrium', JSON.stringify(sessionStorageObj))
}

</script>

