<style>
#category-list  {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

#category-list > div {
        margin-top: 2rem;
        width: 20%;
}
.listin {
    background-color: var(--bluez);
    width: auto;
    margin-right: 1.5rem;
    box-shadow: 2px 2px 5px var(--black);
}

@media (max-width: 950px) and (orientation: landscape), (max-width: 430px) and (orientation:portrait) {
  .listin {
        position: sticky;
        top:0;
        background-color: var(--bluez);
        width: 100%;
    }
    #category-list  {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #category-list > div {
        width: 80vw;
        padding-top: 1rem;
    }
    #category-list > div:nth-child(n) {
       margin-top:0;
    }
    #category-list > div:first-child {
        margin-top: 1rem;
    }
}
</style>

<div id="categories">
    <div id="category-list">
    </div>
</div>
<script>
init()

async function init() {
    if (categories == null) 
        await fetchSharedData();     
    loadCategories();
}

function loadCategories() {
    var categoryListDiv = document.getElementById('category-list');
    let html = '';
    categoryTitles = {
        "politica":"política",
        "religion":"religión",
        "hechos_historicos":"hechos históricos",
        "deportes":"fútbol/deportes",
        "filosofia/ideas":"filosofía/ideas",
        "musica/arte/literatura":"música/arte/literatura"
    };
    for (i in categories) {
        categoryTitle = categories[i];
        if (Object.keys(categoryTitles).filter(c => c == categories[i]).length > 0)
            categoryTitle = categoryTitles[categories[i]];
            
        html = `<div id="${categories[i]}">
                    <a href="#listby?c=category:${categories[i]}" class="listin dfcenter"><b>${categoryTitle}</b></a>
                    <ul></ul>
                </div>`
        categoryListDiv.insertAdjacentHTML('beforeend',html);
    }
}
</script>