<style>
 /*#categories {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
}*/
#category-list  {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}
#category-list > div {
    width: 20vw;
}
#category-list > div:nth-child(-n+4) {
        margin-top: 2rem;
}
.listin {
    background-color: var(--bluez);
    width: auto;
    margin-right: 1.5rem;
    box-shadow: 2px 2px 5px var(--black);
}

@media (max-width: 950px) and (orientation: landscape), (max-width: 430px) and (orientation:portrait) {
  .listin {
        position: sticky;
        top:0;
        background-color: var(--bluez);
        width: 100%;
    }
    #category-list  {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #category-list > div {
        width: 80vw;
    }
    #category-list > div:nth-child(n) {
       margin-top:0;
    }
    #category-list > div:first-child {
        margin-top: 1rem;
    }

}
</style>

<div id="categories">
    <div id="category-list">
    </div>
</div>
<script>

init()

async function init() {
    if (categories == null) 
        await fetchSharedData();     
    loadCategories();     
}

function loadCategories() {
    var categoryListDiv = document.getElementById('category-list');
    let html = '';
    for (i in categories) {
        html = `<div id="${categories[i]}">
                    <a href="#listby?c=category:${categories[i]}" class="listin dfcenter"><b>${categories[i]}</b></a>
                    <ul></ul>
                </div>`
        categoryListDiv.insertAdjacentHTML('beforeend',html);
    }
}

</script>