<style>
.wrap-diff-header {
    position: sticky;
    top:0;
    z-index: 10;
}
.diff-header {
    background-color: rgb(127, 234, 255); /**/
    display: grid;
    grid-template-areas: 
    "A B C D";
    grid-template-columns: 1fr 1fr 1fr 0.5fr;                
}
#datetime { grid-area: A; }
#user { grid-area: B; }
#article-url { grid-area: C; }
#external-url { grid-area: D; }
.lineno {
    margin-top: 0.5rem;
    padding: 0.1rem 0rem 0.2rem 0.2rem;
    border: solid 1px rgb(242, 242, 242);
    display:inherit;
}
.lineno-data {
    text-align:center;
}
.addel-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}
.add {
    grid-column: 2;
    margin: 0rem 0 0 0;
    padding: 0 0 0 0.5rem;
    border: solid 1px rgb(242, 242, 242);
    background-color: rgb(199, 255, 186);
}
.del {
    grid-column: 1;
    margin: 0rem 0 0 0;
    padding: 0 0 0 0.5rem;
    border: solid 1px rgb(242, 242, 242);
    background-color: rgb(253, 145, 145); 
}
.wadd {
    background-color:var(--greegit);
    box-shadow: 2px 2px 5px #111111;
}
.wdel {
    background-color: var(--redgit);
    box-shadow: 2px 2px 5px #111111;
}

@media (max-width: 950px) and (orientation: landscape), (max-width: 430px) and (orientation:portrait) {
    .diff-header {
        width: 100%;
        display: grid;
        grid-template-areas: 
        "0 A B"
        "C C D"; 
        grid-template-columns: 0.1fr 1.3fr 1fr;
        padding-bottom: 0.6rem;
    }
    #datetime {
        margin-left: 40px;
    }
    #article-url {
        margin-left: 60px;
    }
    #external-url {
        display:flex;
        justify-content: space-around;
    }
    .lineno {    
        padding: 0.1rem 0rem 0.2rem 0rem;
        border: solid 1px rgb(242, 242, 242);
    }
    .addel-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .add {
        grid-column: 1;
    }
    .del {
        grid-column: 1;
    }
    .fixed {
        position:fixed;
        top: 0 !important;
    }
  
}
</style>

<div id="diffs"></div>

<script>

var idCont = 0;
var diffTexts = [];

loadDiffs()

async function loadDiffs() {
    var articleUrl = getVal;
    var data = null;
    var dbquery = 'diffsFromUrl';
     try {
        if (articleUrl == "")
            data = await fetch(`/public/js/db/mock-sample1.json`).then(res => res.json()); // mock sample
        else if (articleUrl == "random") 
            articleUrl = (await query('randUrl'))[0].articleUrl;
        else if (articleUrl.match(/[0-9]{9}/) != null) 
            articleUrl = (await query('urlFromId',articleUrl))[0].articleUrl;
        else if (articleUrl.split('user::').length > 1) {
            articleUrl = articleUrl.split('user::')[1];
            dbquery = 'diffsFromUser';
        }
        data = await query(dbquery,articleUrl);            
    } catch (err) {
        console.log(`loadDiffs::data retrieving Error:`,err);
    }
    if (data.length > 0) {
        var fragment = null;
        for (let d=0; d<data.length; d++) {
            currentDiff = data[d];
            articleTitle = decodeURIComponent(currentDiff.articleUrl.split('/').at(-1).replaceAll('_',' '))
            diffs = currentDiff.articleUrl.split('&diff')[0];
            diffHeader =`
            <div id="${currentDiff.id}" class="diff">
                <div class="wrap-diff-header">
                    <div id="diff-header-${d}" class="diff-header">
                        <span id="datetime">
                            <label class="d-mr2 mr05"></label><b id="datetime-data">${currentDiff.datetime}</b></span>
                        <span id="user">
                            <label class="mr05">por</label><b id="user-data"><a href="#">${currentDiff.user}</a></b></span> 
                        <span id="article-url">
                            <a id="article-url-data" href="#diffs?diff=${diffs}">${articleTitle}</a></span>
                        <span id="external-url">
                            <a id="external-url-data" href="${currentDiff.diffUrl}" target="_blank">link externo</a></span>
                </div></div>
                <div class="lines"></div>
            </div>` 
                        
            fragment = document.createElement('template');
            fragment.innerHTML = diffHeader;
            changes = JSON.parse(currentDiff.changes) 

            for (let i=0; i<changes.length; i++) {
                change = changes[i];
                lineno = `<div class="lineno">
                            <div class="lineno-data">
                                <label class="ml05r">linea <b>${change.lineno}</b></label>
                            </div><div class="addel-content"></div>`
                
                fragment.content.querySelectorAll('.lines')[fragment.content.querySelectorAll('.lines').length-1].innerHTML += lineno
                for (let j=0; j<change.change.length; j++) {
                    addels = change.change[j]
                    addelDiv = fragment.content.querySelectorAll('.addel-content')[fragment.content.querySelectorAll('.addel-content').length-1]
                    collapsableDiv().forEach(item => diffTexts.push(item))
                }
            }
            document.getElementById(`diffs`).insertAdjacentHTML('beforeend',fragment.innerHTML)
        }
        document.head.appendChild(script);
    }        
}
function collapsableDiv() {
    var objStruct = {
        id: '',
        shortText: '',
        fullText: '',
    };
    var objs = [];
    keys = Object.keys(addels)
    for (i in keys) {
        let len = 300;
        if (Object.keys(addels[keys[i]]).length > 0) {
            obj = { ...objStruct}
            idCont++;
            if (addels[keys[i]].hasOwnProperty('text')) 
                text = escapeHTML(addels[keys[i]].text)
            else 
                text = escapeHTML(addels[keys[i]])
            
            obj.id = "text"+idCont 
            if (text.length > len) {
                posIni = text.lastIndexOf('$$$BEGIN$$$',len)
                posEnd = text.lastIndexOf('$$$END$$$',len)
                if (posEnd < posIni) {
                    len = text.indexOf('$$$END$$$',len)+'$$$END$$$'.length
                }
                obj.shortText = escapeBeginEnd(text.substr(0, len)) + "... <a href='#' onClick='changeText(event,this)'><b>{más}</b></a>";
                obj.fullText = escapeBeginEnd(text)+" <a href='#' onClick='changeText(event,this)'><b>{menos}</b></a>";
            } else {
                obj.shortText = escapeBeginEnd(text);
                obj.fullText = null;
            }
            addelDiv.innerHTML += `<div id="${obj.id}" class="${keys[i]}"><p>${obj.shortText} </p></div>`
            objs.push(obj)
        }
    }
    return objs;
}
function escapeHTML(str) {
    return str.replace(/&/g, "&amp;")
        .replace(/>/g, "&gt;")
        .replace(/</g, "&lt;")
        .replace(/"/g, "&quot;")
}
function escapeBeginEnd(str,addel) {
    let cls = addel == 'add'? 'wdel' : 'wadd'
    return str
         .replace(/\$\$\$BEGIN\$\$\$/g, `<b class=${cls}>`)
         .replace(/\$\$\$END\$\$\$/g, `</b>`)
}
function changeText(event,obj) {
    console.log('changeText',obj)
    event.preventDefault();
    div = obj.closest('div')
    if (obj.textContent == '{menos}') {
        diffTexts.map( (it) =>  {
            if (it.id == div.id) 
                div.children[0].innerHTML = it.shortText            
        })
    } else {
        diffTexts.map( (it) =>  {
            if (it.id == div.id) 
                div.children[0].innerHTML = it.fullText
        })         
    }
}
</script>