<style>
.wrap-diff-header {
    position: sticky;
    top:0;
    z-index: 10;
}
.diff-header {
    background-color: rgb(127, 234, 255); /**/
    display: grid;
    grid-template-areas: 
    "A B C D E";
    grid-template-columns: 0.8fr 0.7fr 0.7fr 1.5fr 0.2fr;
    align-items: center;
    justify-items: left;               
}
.diff-header:nth-child(n+1) {
    margin-top: 2rem;
}
#datetime { 
    grid-area: A;
    margin-left: 3rem;
}
#prev-user { grid-area: B; }
#user { 
    grid-area: C;
    margin-left: 1rem;
}
#article-url { 
    grid-area: D; 
    align-content: center;
}
#external-url { 
    grid-area: E; 
    margin-left:1rem;
    margin-right:1rem;
}
.ico-marker {
    width: 30px;
    height: 25px;
}
.fixed-corner {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.3rem;
}
.fixed-marker {
    position: absolute;
    top: 5px;
    right: 40px;
    
}
.tl {
    display: flex;
}
.lineno {
    margin-top: 0.5rem;
    padding: 0.1rem 0rem 0.2rem 0.2rem;
    border: solid 1px rgb(242, 242, 242);
    display:inherit;
}
.lineno-data {
    text-align:center;
}
.addel-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}
.addel-content > div {
    margin-right:0.5rem;
}
.addel-content > div > p {
    padding: 0 1rem;
}
.del {
    grid-column: 1;
    margin: 0rem 0 0 0;
    padding: 0 0 0 0.5rem;
    border: solid 1px rgb(242, 242, 242);
    background-color: var(--reddiff);
}
.add {
    grid-column: 2;
    margin: 0rem 0 0 0;
    padding: 0 0 0 0.5rem;
    border: solid 1px rgb(242, 242, 242);
    background-color:var(--greendiff);
}
.blank {
    background-color: var(--white) !important;
}
.wadd {
    background-color:var(--greendiff);
    box-shadow: 2px 2px 5px var(--black);
}
.wdel {
    background-color: var(--reddiff);
    box-shadow: 2px 2px 5px var(--black);
}
.pager {
    margin-top: 0rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.mt0 {
    margin-top: 0rem !important;
    padding-bottom: 0rem !important;
}
@media (max-width: 1400px) and (orientation: landscape), (max-width: 1400px) and (orientation:portrait) { 
    .diff-header {
        width: 100%;
        display: grid;
        grid-template-areas: 
        "0 A A"
        "0 B C"
        "0 tl tl";
        grid-template-columns: 60px 1fr 1fr;
        justify-items: left;               
    }
    #datetime { 
        margin-left: 0rem; 
        margin: 0.1rem 0 0.7rem 1rem;
    }

    #article-url {
        all:unset; 
        margin-left: 1rem;
    }
    #external-url {
        all:unset;
        margin:0rem 1rem 0rem 1rem;
    }
    .tl {
        grid-area: tl;
        display: grid;
        grid-template-columns: 2fr 0.2fr;
    }
    #user {
        white-space: nowrap;
        overflow: hidden;
        max-width: 170px;
        text-overflow: ellipsis;
        padding:0.2rem;  
    }
    #prev-user {
        white-space: nowrap;
        overflow: hidden;
        max-width: 170px;
        text-overflow: ellipsis;
        padding:0.1rem;
        margin-left:1rem;
    }
    .lineno {    
        padding: 0.1rem 0rem 0.2rem 0rem;
        border: solid 1px rgb(242, 242, 242);
    }
    .addel-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .addel-content > div {
        margin-right:0rem;
        margin-bottom: 0.5rem;
    }
    .add {
        grid-column: 1;
    }
    .del {
        grid-column: 1;
    }
    .fixed {
        position:fixed;
        top: 0 !important;
    } 
}
</style>

<div id="diffs">
    <div class="dflex pager mt0 mb1 dnone" >
        <div class="dflex">
            <button class="prevPage"><label class="prevPage"> < </label></button>
            <input class="currentPageInput" class="" type="text" value="">
            <label class="pr1">de </label>
            <label class="totalPages"></label>
            <button class="nextPage"><label class="nextPage"> > </label></button>
        </div>
    </div>
    <div id="diffs-content"></div>
    <div class="dflex pager mb1 dnone">
        <div class="dflex">
            <button class="prevPage"><label class="prevPage"> < </label></button>
            <input class="currentPageInput" class="" type="text" value="">
            <label class="pr1">de </label>
            <label class="totalPages"></label>
            <button class="nextPage"><label class="nextPage"> > </label></button>
        </div>
    </div>
</div>

<script>
var idCont = 0;
var diffTexts = [];
var dbquery = "";
var currentPage = 1, perPage = 10, totalPages = 0;
var inputs = [], btns = [];
var delimiters = {
    'del':['$$-BEGIN-$$','$$-END-$$'],
    'add':['$$+BEGIN+$$','$$+END+$$']
};

init();

async function init() {
    freezeGUI('Cargando página...');
    await loadDiffs();
    freezeGUI(false);
}  

async function loadDiffs() {
    var articleUrl = getVal;
    var data = null, ids=[];
    var pagerObj = {page:currentPage-1, perPage:perPage};
    dbquery = 'diffsFromUrl';
     try {
        if (articleUrl == "random") {
            articleUrl = (await query('randUrl'))[0].articleUrl;
            getVal = articleUrl;
        }
        else if (articleUrl.match(/^[0-9]{9}$/) != null) 
            dbquery = 'diffFromId';    
        else if (articleUrl.split('user::').length > 1) {
            articleUrl = articleUrl.split('user::')[1];
            if (articleUrl.match('90.167.*') != null)
                dbquery = 'diffsFromUser';
            else
                dbquery = 'diffsFromPreviousUser';
        }
        ids = articleUrl.split('&');
        if (ids.length > 1)
            articleUrl = ids[0];
        data = await query(dbquery,articleUrl,pagerObj);
        if (ids.length > 1) 
            data = data.filter(obj => ids.includes(String(obj.id)));
    } catch (err) {
        console.log(`loadDiffs::data retrieving Error:`,err);
    }

    if (data.length > 0) {
        if (data[0].totalDiffs > perPage) {
            totalPages = Number.parseInt((data[0].totalDiffs/perPage));
            if (String(data[0].totalDiffs/perPage).includes('.'))
                totalPages++;
            document.querySelectorAll('.totalPages').forEach(elem => elem.innerText = totalPages);

            if (btns.length == 0) {
                document.querySelectorAll('button').forEach(btn => {
                    btn.addEventListener('click',pager);
                    btn.disabled = btn.classList.contains('prevPage')? true : false;
                    btns.push(btn);
                });
            }
            if (inputs.length == 0) {
                document.querySelectorAll('input').forEach(input => {
                    input.addEventListener('input',pager);
                    input.value = currentPage;
                    inputs.push(input);
                });
            }
            document.querySelectorAll('.pager').forEach(e => e.classList.remove('dnone') );
        }

        var fragment = null;
        let svgMarker = "marker.svg";
        let notes = JSON.parse(localStorage.getItem('notes'));
        for (let d=0; d<data.length; d++) {
            currentDiff = data[d];
            articleTitle = decodeURIComponent(currentDiff.articleUrl.split('/').at(-1).replaceAll('_',' '))
            articleUrl = currentDiff.articleUrl.split('&diff')[0];
            if (notes != null) {
                if (notes.diffs.filter(i => i.id == currentDiff.id).length > 0)
                    svgMarker = "marker-saved.svg";
                else
                    svgMarker = "marker.svg";
            }
            diffHeader =`
            <div id="${currentDiff.id}" class="diff">
                <div class="wrap-diff-header">
                    <div id="diff-header-${d}" class="diff-header">
                        <span id="datetime">
                            <label class="">Edit el </label>
                            <b id="date-data">${currentDiff.date}</b>
                            <label class="">a las </label>
                            <b id="time-data">${currentDiff.time}</b>
                        </span>
                        <span id="prev-user" class="bg-reddiff">
                            <b id="prevuser-data"><a href="#diffs?diff=user::${currentDiff.prevUser}">${currentDiff.prevUser}</a></b>
                            <div class="bold fixed-marker" >
                                <img class="ico-marker" onclick="marker(event,this)" src="resources/svg/${svgMarker}">
                            </div>
                            <label class="bg-cyan info bold fixed-corner" onclick="info(event)">?</label>
                        </span> 
                        <span id="user" class="bg-greendiff"> 
                            <b id="user-data"><a href="#diffs?diff=user::${currentDiff.user}">${currentDiff.user}</a></b>
                        </span>
                        <div class='tl'>
                            <span id="article-url">
                                <a id="article-url-data" href="#diffs?diff=${articleUrl}">${articleTitle}</a></span>
                            <span id="external-url">
                                <a id="external-url-data" href="${currentDiff.diffUrl}" target="_blank">
                                    <img class="ico-extern-url" src="resources/svg/extern-link2.svg" alt="" title="Link externo" srcset="">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="lines"></div>
            </div>`

            fragment = document.createElement('template');
            fragment.innerHTML = diffHeader;
            changes = JSON.parse(currentDiff.changes);
            for (let i=0; i<changes.length; i++) {
                change = changes[i];
                lineno = `<div class="lineno">
                            <div class="lineno-data">
                                <label class="ml05r">linea <b>${change.lineno}</b></label>
                            </div><div class="addel-content"></div>`
                
                fragment.content.querySelectorAll('.lines')[fragment.content.querySelectorAll('.lines').length-1].innerHTML += lineno
                
                for (let j=0; j<change.change.length; j++) {
                    addels = change.change[j]
                    addelDiv = fragment.content.querySelectorAll('.addel-content')[fragment.content.querySelectorAll('.addel-content').length-1]
                    let collapsables = collapsableDiv();

                    if (addelDiv.childNodes.length >= 2) {
                        let last1 = addelDiv.childNodes[addelDiv.childNodes.length-1];
                        let last2 = addelDiv.childNodes[addelDiv.childNodes.length-2];
                        if ( last1.classList.contains('add') && last2.classList.contains('blank') ) 
                            addelDiv.childNodes[addelDiv.childNodes.length-1].className = 'add blank';
                        else if ( last1.classList.contains('add') && last1.classList.contains('blank') 
                        && last2.classList.contains('del') && !last2.classList.contains('blank') )
                            addelDiv.childNodes[addelDiv.childNodes.length-2].className = 'del blank';
                    }
                    collapsables.forEach(item => diffTexts.push(item));
                }
            }
            document.getElementById('diffs-content').insertAdjacentHTML('beforeend',fragment.innerHTML)
        }
        document.head.appendChild(script);
    } else {
        document.getElementById('diffs-content').innerHTML = '<center><h3>Error, no se han cargado datos</h3></center>';
    }
}

function collapsableDiv() {
    var objStruct = { id: '', shortText: '', fullText: '' };
    var objs = [];
    var cass = '';
    var keys = Object.keys(addels);

    for (i in keys) {
        let len = 300, text = '';
        if (Object.keys(addels[keys[i]]).length > 0) {
            let obj = { ...objStruct};
            idCont++;
            obj.id = "text" + idCont;
            text = addels[keys[i]].hasOwnProperty('text') ? addels[keys[i]].text : addels[keys[i]];
            text = escapeHTML(text);
            cass = text.includes(delimiters[keys[i]][0]) ? keys[i]+' blank' : keys[i];
            text = escapeBeginEnd(text, keys[i]);

            if (text.length > len) {
                if ( cass.includes('blank') ) {
                    let cls = keys[i] == 'add'?  'wadd' : 'wdel';
                    posIni = text.lastIndexOf( `<b class=${cls}>`, len );
                    posEnd = text.lastIndexOf( '</b>', len );
                    if (posEnd < posIni) 
                        len = text.indexOf( '</b>', len ) + '</b>'.length;
                }
                obj.shortText = text.substr(0, len) + "... <a href='#' onClick='changeText(event,this)'><b>{más}</b></a>";
                obj.fullText = text+" <a href='#' onClick='changeText(event,this)'><b>{menos}</b></a>";
            } 
            else {
                obj.shortText = text;
                obj.fullText = null;
            }
            addelDiv.innerHTML += `<div id="${obj.id}" class="${cass}"><p>${obj.shortText} </p></div>`;
            objs.push(obj);
        }
    }
    return objs;
}

function escapeHTML(str) {
    return str.replace(/&/g, "&amp;")
        .replace(/>/g, "&gt;")
        .replace(/</g, "&lt;")
        .replace(/"/g, "&quot;");
}

function escapeBeginEnd(str,addel) {
    let cls = addel == 'add'?  'wadd' : 'wdel';
     return str
         .replaceAll(delimiters[addel][0], `<b class=${cls}>`)
         .replaceAll(delimiters[addel][1], `</b>`);
}

function changeText(event,obj) {
    event.preventDefault();
    div = obj.closest('div')
    if (obj.textContent == '{menos}') {
        diffTexts.map( (it) =>  {
            if (it.id == div.id) 
                div.children[0].innerHTML = it.shortText            
        });
    } else {
        diffTexts.map( (it) =>  {
            if (it.id == div.id) 
                div.children[0].innerHTML = it.fullText
        });
    }
}

function marker(event,elem) {
    let notes = JSON.parse(localStorage.getItem('notes'));
    let id = event.target.closest('.diff').id;
    let url = event.target.closest('.diff').querySelector('#article-url-data').href.split('=')[1];
    let del = false;
    if (elem.src.includes('saved')) {
        elem.src = "resources/svg/marker.svg";
        del = true;
    } else
        elem.src = "resources/svg/marker-saved.svg";
    
    if (notes != null) {
        if (!del)
            notes.diffs.push({id:id,url:url});
        else
            notes.diffs = notes.diffs.filter(i => i.id != id);
        localStorage.setItem('notes',JSON.stringify(notes));
    } else {
        objStorage = {
            diffs: [],
            notes: []
        };
        if (!del)
            objStorage.diffs.push({id:id,url:url});
        localStorage.setItem('notes',JSON.stringify(objStorage));
    }
}

function pager(evt) {
    let updateRegs = false;
    if (evt.type == 'click') {
        if (evt.target.classList.contains('prevPage')) {
            currentPage -= 1; 
        } else {
            currentPage += 1;
        }
        inputs.forEach(i => i.value = currentPage);
        updateRegs = true;
    } else {
        let val = Number.parseInt(evt.target.value);
        if (isNaN(val) || val < 1 || val > totalPages || val == currentPage) {
            inputs.forEach(i => i.value = currentPage);
        } else {
            inputs.forEach(i => i.value = val);
            currentPage = val;
            updateRegs = true;
        }
    }
    btns.forEach(btn => {
        if (btn.classList.contains('prevPage')) 
            btn.disabled = currentPage == 1? true : false;
        else
            btn.disabled = currentPage == totalPages? true : false;
    });
    if (updateRegs) {
        document.getElementById('diffs-content').innerHTML = "";
        diffTexts = [];
        loadDiffs();
    }
}
</script>