<style>

</style>

<div id="index">
    <div>
        <h1>WIP</h1>
        Si ves a jesucristo sin parar de bailar, actualiza.        
<!--
        <iframe
            class="video" ←
            src="https://www.youtube.com/embed/7Ybw4KZFQfA?si=yTM0NPU3xQTLhvak"
            title="YouTube video player"
            frameborder="0"

            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            >
        </iframe>
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" -->
    </div>
</div>
                  
<script>

</script>
