<style>

/* BEGIN:SWITCH by CHATGPT */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 25px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}
.slider:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}
input:checked + .slider {
    background-color: #4CAF50;
}
input:checked + .slider:before {
    transform: translateX(25px);
}
/* END:SWITCH by CHATGPT */

#title {
    padding-left:10vw;
}
#filter-inputs {
    display: flex;
    flex-direction: row;
}
#filter-inputs > div {
    width: 24%;
    justify-content: space-around;
    padding: 0.2rem;
    margin-right: 0.5rem;
    display: flex;
}
#links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
}
.link {
    margin-right:2rem;
}
.filter-icon {
    padding-top: 10px;
    width:50px;
    height:50px;
}
.slide-up {
    transition: transform 0.5s ease;
    transform: translateY(-0.5px);        
}
.slide-down {
    transition: transform 0.5s ease;
    transform: translateY(0.0px);        
}
.modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    /* padding-top:10rem; */
    display: none;
    align-items: center;
    justify-content: center;
}
.modal > div {
    background-color: rgb(255, 210, 132);
}
.modal-header {
    border: solid 1px black;
    display: flex;
    align-items: flex-start;
    justify-content:end;
    width: 350px;
    background-color: rgb(46, 130, 255);
}
@media (max-width: 1400px) and (orientation: landscape), (max-width: 1400px) and (orientation:portrait) {
/* @media (max-width: 950px) and (orientation: landscape), (max-width: 630px) and (orientation:portrait) { */
    .filter-icon {
        padding-top: 20px;
        width:40px;
        height:40px;
    }
    .link {
        margin-right: 1rem;
    }
    #title {
        padding-left:5vw;
    }
    #filter-inputs {
        display: grid;
        grid-template-columns: 100%;
        gap: 10px;
        padding-bottom: 0.5rem;
    }
    #filter-inputs > div {
        width: auto;
        justify-content: space-around;
        padding-left: 0.5rem;
        padding-right: 0.8rem;
        margin-right: 0.5rem;
    }
    #links {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: left;
    }
}
</style>
<div id="listby">
    <div>
        <div id="header">
            <div class="dflex flexrow justify-around pr1">
                <div>
                    <h3 class="mr05" id="title"></h3>
                </div>
                <div>
                    <svg
                        id="filter-icon" 
                        class="filter-icon" 
                        width="1.0509777mm"
                        height="0.99619913mm"
                        viewBox="0 0 1.0509777 0.99619913"
                        version="1.1"
                        
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:svg="http://www.w3.org/2000/svg">
                        <defs
                            id="defs1" />
                        <g
                            id="layer1"
                            transform="translate(-0.03901383,-0.0036098)">
                            <path
                            style="fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.0417738;stroke-dasharray:none;stroke-opacity:1"
                            d="m 0.13971859,0.00364595 0.001724,0.9961268"
                            id="path15-4-9-6-9" />
                            <path
                            style="fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.0417738;stroke-dasharray:none;stroke-opacity:1"
                            d="m 0.41943004,0.003646 0.001724,0.99612675"
                            id="path15-4-9-6-9-1" />
                            <path
                            style="fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.0417738;stroke-dasharray:none;stroke-opacity:1"
                            d="m 0.69914148,0.00364604 0.001724,0.99612671"
                            id="path15-4-9-6-9-1-7" />
                            <path
                            style="fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.0417738;stroke-dasharray:none;stroke-opacity:1"
                            d="m 0.97885433,0.00364604 0.00172,0.99612675"
                            id="path15-4-9-6-9-1-5" />
                            <rect
                            style="fill:#e60000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.126646;stroke-dasharray:none;stroke-opacity:1"
                            id="filter-4"
                            class=""
                            width="0.074832343"
                            height="0.05056271"
                            x="0.95183623"
                            y="0.78871787"
                            ry="0.0038471627" />
                            <rect
                            style="fill:#e60000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.126646;stroke-dasharray:none;stroke-opacity:1"
                            id="filter-3"
                            class=""
                            width="0.074832343"
                            height="0.05056271"
                            x="0.65756077"
                            y="0.78293473"
                            ry="0.0038471627" />
                            <rect
                            style="fill:#e60000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.126646;stroke-dasharray:none;stroke-opacity:1"
                            id="filter-2"
                            class=""
                            width="0.074832343"
                            height="0.05056271"
                            x="0.38356236"
                            y="0.78225619"
                            ry="0.0038471627" />
                            <rect
                            style="fill:#e60000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.126646;stroke-dasharray:none;stroke-opacity:1"
                            id="filter-1"
                            class=""
                            width="0.075522095"
                            height="0.05056271"
                            x="0.10233683"
                            y="0.7791568"
                            ry="0.0038471627" />
                        </g>
                    </svg>
                </div>
            </div>
            <div>
                <div id="filter-inputs"></div>       
            </div>    
        </div>
        <div id="listby-content">
        </div>
        <div id="pager" class="dflex pager mb1">
        <div class="dflex">
            <button class="prevPage"><label class="prevPage"> < </label></button>
            <input id="currentPageInput" class="" type="text" value="">
            <label class="pr1">de </label>
            <label class="totalPages"></label>
            <button class="nextPage"><label class="nextPage"> > </label></button>
        </div>
    </div>
    </div>
    <div id="filters-modal" class="modal">
        <div class="">
            <div id="" class="modal-header">
                <span  id="close-modal" class="font20px cursor pr1">&times;</span>
            </div>

            <div class="dflex mt05">
                <div class="w50 pl1">
                    <b>Filtrar por URL</b>
                </div>

                <div class="w50 jc-end">
                    <label class="switch">
                        <input id="switch-1" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <div class="dflex mt05">
                <div class="w50 pl1">
                    <b>Por fecha </b>
                </div>
                <div class="w50 jc-end">
                    <label class="switch">
                    <input id="switch-2" type="checkbox">
                    <span class="slider"></span>
                    </label>
                </div>
            </div>
            
            <div id="category-filter-div" class="dflex mt05">
                <div class="w50 pl1">
                    <b>Por categoría</b>
                </div>
                <div class="w50 jc-end">
                    <label class="switch">
                        <input id="switch-3" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <div class="dflex mtb05">
                <div class="w50 pl1">
                    <b>undefined criterio</b>
                </div>
                <div class="w50 jc-end">
                    <label class="switch">
                        <input id="switch-4" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>  
<script>
var urlData = null;
var filteredUrlData = null;
var storageObj = null;
var title = document.getElementById('title'), titleText = "";
var categories = null, category = null;

// pagination shared vars
var pagerInput = document.getElementById('currentPageInput');
var currentPage = 0, perPage = 30, totalPages = 0;
var btns = document.getElementById('pager').querySelectorAll('button');
var prevBtn = btns[0], nextBtn = btns[1];

if (getVal.split('category:').length > 1) {
    category = getVal.split('category:')[1];
    document.getElementById('category-filter-div').remove()
}
init()

async function init() {
    freezeGUI('Cargando...');
    var storage = false;
    var filtersIcon = document.getElementById('filter-icon');
    var filtersModal = document.getElementById('filters-modal');
    var closeFiltersModal = document.getElementById('close-modal');
    var switchs = document.querySelectorAll('input[type="checkbox"]');
    var buttonsPager = document.querySelectorAll('button');
    var inputPager =  document.getElementById('currentPageInput')
    switchs.forEach(e => {
        e.addEventListener('click',() => {showHideInputFilter(e)});
    });
    filtersIcon.addEventListener('click', (evt) => {
        let {height,y} = evt.target.getBoundingClientRect();
        filtersModal.style.display = "flex";
        filtersModal.style.top = height+y+'px';
    });
    closeFiltersModal.addEventListener('click', () => {
        filtersModal.style.display = "none";
        filtersModal.style.top = '0px';
    });
    buttonsPager.forEach( e => e.addEventListener('click',pager));
    inputPager.addEventListener('input',pager);

    storageObj = JSON.parse(sessionStorage.getItem('listby'))
    if (storageObj != null) {
        currentPage = storageObj.pager.page+1;
        for (let i=0; i<storageObj.char.length; i++) {
            if (Object.keys(storageObj.char[i])[0] == getVal) {
                storage = true;
                urlData = storageObj.char[i];
                // filteredUrlData = [...urlData];
            }
        }
    }
    if (storage == false)
        await fetchUrls();

    categories = JSON.parse(sessionStorage.getItem('categories'));
    if (categories == null) {
        fetchSharedData();
        categories = JSON.parse(sessionStorage.getItem('categories'));
    }
    
    liLinks();
    freezeGUI(false);
}

function liLinks() {
    var div = document.getElementById('listby-content');
    var urls = [];
    if (category == null) {
        urls = Object.values(urlData[getVal]);
        titleText = `  que empiezan por ${getVal}`;
        if (getVal == 'discusion')
            titleText = ' Discusiones';
        else if (getVal == 'anexo') 
            titleText = ' Anexos';
    } else {
        urls = Object.values(urlData[category]);
        titleText = ` páginas con categoría: ${category}`;
    }
    if (filteredUrlData != null) 
        urls = Object.values(filteredUrlData);
    title.innerText = `${urls.length} ${titleText}`;

    pagerInput.value = currentPage;
    totalPages = Number.parseInt((urls.length/perPage));
    if (String(urls.length/perPage).includes('.'))
        totalPages++;
    document.querySelector('.totalPages').textContent = totalPages;

    var ul = document.createElement('ul');
    ul.id = 'links';
    if (urls.length <= perPage)
        document.getElementById('pager').style.display = 'none';
    else 
        document.getElementById('pager').style.display = 'flex';

    if (urls.length > 0) {
        let endFor = currentPage == totalPages? urls.length : storageObj.pager.page*perPage+perPage;
        for (let i=storageObj.pager.page*perPage; i<endFor; i++) {
            text = decodeURIComponent(urls[i].articleUrl.split('/').at(-1)).replaceAll('_',' ');
            var li = `<li data-articleurl="${decodeURIComponent(urls[i].articleUrl.split('/').at(-1))}"
                        data-text="${text}"
                        data-neditions=${urls[i].nedits}
                        data-dates=${JSON.stringify(urls[i].dates)}
                        data-category="${urls[i].category}" >
                            <div class="link d-mr-2">
                                <a href="#diffs?diff=${urls[i].articleUrl}">${text}</a>
                                <label class="n-editions">${urls[i].nedits}</label>
                                <label class="bg-cyan info d-mr2 bold" onclick="info(event)">?</label>
                            </div>
                        </li>`;
            ul.insertAdjacentHTML('beforeend',li);
        }
    }
    div.appendChild(document.createElement('div'))
    if (div.querySelector('ul') != null)
        div.querySelector('ul').remove()
    div.lastChild.appendChild(ul)

    nextBtn.disabled = currentPage == totalPages? true : false;
    prevBtn.disabled = currentPage == 1? true : false;
}

async function fetchUrls() {
    var urls = [];
    if (getVal == 'discusion') 
        urls = await query('urlsStartsWith','discusion');
    else if (getVal == 'anexo')
        urls = await query('urlsStartsWith','anexo');
    else if (category != null) 
        urls = await query('urlsByCategory',category);
    else
        urls = await query('urlsStartsWith',getVal);

    var ini = new Date('2-2-2222')
    var end = new Date('1-1-1111')
  
    for (let i=0; i<urls.length; i++) {
        dates = JSON.parse(urls[i].dates);
        urls[i].dates = dates;
        for (let j=0; j<dates.length; j++) {
            let minMaxDate = new Date(dates[j].split('/')[2]+'-'+dates[j].split('/')[1]+'-'+dates[j].split('/')[0]);
            if (minMaxDate < ini) 
                ini = minMaxDate;
            if (minMaxDate > end) 
                end = minMaxDate;
        }
    }
    storageObj = JSON.parse(sessionStorage.getItem('listby'));
    var config = { minmaxdate: { ini: ini.toISOString().split('T')[0], end: end.toISOString().split('T')[0] } }
    var computed = category == null? getVal : category;
    if (storageObj == null) { 
        storageObj = { char:[ {[computed]: urls, config: config } ], pager: { page:0,perPage:perPage } };
        currentPage = storageObj.pager.page+1;
        sessionStorage.setItem('listby',JSON.stringify(storageObj));
    }
    else {
        let ind = -1;
        for (let i=0; i<storageObj.char.length; i++) 
            if (Object.keys(storageObj.char[i]).includes(computed))
                ind = i;
        if (ind != -1)
            storageObj.char[ind] = { [computed]: urls, config: config };
        else
            storageObj.char.push({ [computed]: urls, config: config });
        sessionStorage.setItem('listby',JSON.stringify(storageObj));
    }
    urlData = { [computed]: urls, config: config };
}

function showHideInputFilter(input) {

    var div = document.getElementById('filter-inputs');
    var id = input.id.split('-')[1];
    var rect = document.getElementById(`filter-${id}`);
    let key=Object.keys(urlData)[0];

    if (id == "1") { // text
        elem = `<div id="filter-switch-1" class="bg-cyan">
                    <label class="ml05">Buscar:</label>
                    <input id="search" type="text" class="mr05 ml05 w70" placeholder="text">
                </div>`;

    } else if (id == "2") { // date 
        elem = `<div id="filter-switch-2" class="bg-green2">
                    <label class="ml05 pl03">Inicio</label>
                    <input  id="begin" type="date" class="mr05 ml05"
                        min="${urlData.config.minmaxdate.ini}" 
                        max="${urlData.config.minmaxdate.end}">
                    <label class="">Fin</label>
                    <input  id="end" type="date" class="mr05 ml05"
                        min="${urlData.config.minmaxdate.ini}"
                        max="${urlData.config.minmaxdate.end}">
                </div>`;

    } else if (id == "3") { // category
        elem = `<div id="filter-switch-3" class="bg-gold">
                    <label class="">Categoría</label>
                    <select id="category" class="w50" ><option>Seleccionar</option>`
                for (i in categories)
                    if (urlData[key].some(obj => obj.category == categories[i]) )
                        elem += `<option value="${categories[i]}">${categories[i]}</option>`;
            elem += `</select></div>`;
        
    } else { // undefined
        elem = `<div id="filter-switch-4" class="bg-yellow"><span >undefined</span></div>`;
    }

    if (input.checked) {
        div.insertAdjacentHTML('beforeend',elem)
        let inputs = div.querySelector(`#filter-switch-${id}`).querySelectorAll('input,select')
        inputs.forEach(elem => {
            if (elem.type == 'date' || elem.type == 'select-one')
                elem.addEventListener('change',filterData)
            else
                elem.addEventListener('input',filterData)
        })
        if (rect.classList.contains('slide-down'))
            rect.classList.remove('slide-down');
        rect.classList.add('slide-up')
    } else {
        rect.classList.add('slide-down')
        rect.classList.remove('slide-up')
        let inputs = div.querySelector(`#filter-switch-${id}`).querySelectorAll('input,select')
        inputs.forEach(elem => {
            if (elem.type == 'date' || elem.type == 'select-one')
                elem.removeEventListener('change',filterData)
            else
                elem.removeEventListener('input',filterData)
        })
        document.getElementById(`filter-switch-${id}`).remove()
        filterData()
    }
}

function filterData(e) {
    filteredUrlData = [];
    let inds = [];
    let text = '',articleUrl='', key=Object.keys(urlData)[0];
    applySearchFilter = false;
    applyDateFilter = false;
    applyCategoryFilter = false;
    var searchInput = document.getElementById('search')
    var begin = document.getElementById('begin')
    var end = document.getElementById('end')
    var categorySelect = document.getElementById('category')

    if (searchInput != null)
        if (searchInput.value != '')
            applySearchFilter = true;
    if (begin != null)
        if (begin.value != '' || end.value != '')
            applyDateFilter = true;
    if (categorySelect != null)
        if (categorySelect.value != 'Seleccionar')
            applyCategoryFilter = true;

    for (let i=0; i<urlData[key].length; i++)
        inds.push(i);

    urlData[key].forEach( (obj,i) => {
        if (applySearchFilter) {
            text = decodeURIComponent(obj.articleUrl.split('/').at(-1)).replaceAll('_',' ');
            if (!text.toUpperCase().includes(searchInput.value.toUpperCase()) )
                inds[i] = -1;
        }
        if (applyDateFilter) {
            let dates = obj.dates;
            let allDatesOutOfRange = false; // ind[i][ndates] = [ i:0[d1,d2], i:1[d3], ... ,i:n[d1,...,dn] ] 
            // NOW: if found !invalid url.date range, discard all others dates for the same url
            // [TODO] : check all dates, if (1 date==1 diff) show only diffs in bounds + adapt diffs
            let beginDate= "", endDate = "", d,m,y;
            if (end.value != "") {
                [y,m,d] = end.value.split('-');
                endDate = new Date(y, (Number.parseInt(m)-1), d);
            }
            if (begin.value != "") {
                [y,m,d] = begin.value.split('-');
                beginDate = new Date(y, (Number.parseInt(m)-1), d);
            }
            for (let j=0; j<dates.length; j++) {
                [d,m,y] = dates[j].split('/');
                let date = new Date(y, (Number.parseInt(m)-1), d);
                if (beginDate != "" && endDate == "" && inds[i] != -1)    // [begin,inf)
                    if (date < beginDate) 
                        inds[i] = -1; 
                else if (beginDate == "" && endDate != "" && inds[i] != -1)  // (-inf,end] 
                    if (date > endDate) 
                        inds[i] = -1;
                else if (beginDate != "" && endDate != ""  && inds[i] != -1) // [begin,end]
                    if (date < beginDate || date > endDate)
                        inds[i] = -1;
            }
        }
        if (applyCategoryFilter)
            if ( !obj.category.includes(categorySelect.value) ) 
                    inds[i] = -1;
    });

    for (let i=0; i<urlData[key].length; i++)
        if (inds[i] != -1)
            filteredUrlData.push(urlData[key][i]);
    if (inds.includes(-1)) {
        storageObj.pager.page = 0;
        currentPage = 1;
    }
    console.log(filteredUrlData.length)
    title.innerText= filteredUrlData.length + titleText;
    liLinks();      
}

function pager(evt) {

    let char = document.URL.split('c=')[1];
    char = char.includes(':') ? char.split(':')[1] : char;
    let updateRegs = false;

    if (evt.type == 'click') {
        if (evt.target.classList.contains('prevPage')) {
            currentPage -= 1; 
            storageObj.pager.page -= 1;
        } else {
            currentPage += 1;
            storageObj.pager.page += 1;
        }
        pagerInput.value = currentPage;
        updateRegs = true;
    } else {
        let val = Number.parseInt(pagerInput.value);
        if (isNaN(val) || val < 1 || val > totalPages || val == (storageObj.pager.page)) {
            pagerInput.value = storageObj.pager.page;
        } else {
            pagerInput.value = val;
            currentPage = val;
            storageObj.pager.page = currentPage-1; 
            updateRegs = true;
        }
    }
    if (updateRegs)
        liLinks()
   nextBtn.disabled = currentPage == totalPages? true : false;
   prevBtn.disabled = currentPage == 1? true : false;
}
</script>                     
