<style>

/* BEGIN:SWITCH by CHATGPT */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 25px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}
.slider:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}
input:checked + .slider {
    background-color: #4CAF50;
}
input:checked + .slider:before {
    transform: translateX(25px);
}
/* END:SWITCH by CHATGPT */

#title {
    padding-left:10vw;
}

#filter-inputs {
    display: flex;
    flex-direction: row;
}
#filter-inputs > div {
    width: 24%;
    justify-content: space-around;
    padding: 0.2rem;
    margin-right: 0.5rem;
    display: flex;
}
#links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
}
.link {
    margin-right:2rem;
}
.filter-icon {
    padding-top: 10px;
    width:50px;
    height:50px;
}
.slide-up {
    transition: transform 0.5s ease;
    transform: translateY(-0.5px);        
}
.slide-down {
    transition: transform 0.5s ease;
    transform: translateY(0.0px);        
}
.modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:60%;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal > div {
    background-color: rgb(255, 210, 132);
}
.modal-header {
    border: solid 1px black;
    display: flex;
    align-items: flex-start;
    justify-content:end;
    width: 350px;
    background-color: rgb(46, 130, 255);
}
@media (max-width: 950px) and (orientation: landscape), (max-width: 430px) and (orientation:portrait) {
    .filter-icon {
        padding-top: 20px;
        width:40px;
        height:40px;
    }
    .link {
        margin-right: 1rem;
    }
    #title {
        padding-left:5vw;
    }
    .modal {
        height: 50%;
    }
    #filter-inputs {
        display: grid;
        grid-template-columns: 100%;
        gap: 10px;
        padding-bottom: 0.5rem;
    }
    #filter-inputs > div {
        width: auto;
        justify-content: space-around;
        padding-left: 0.5rem;
        padding-right: 0.8rem;
        margin-right: 0.5rem;
    }
    #links {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: left;
    }
}
</style>
<div id="listby">
    <div>
        <div id="header">
            <div class="flexrow justify-around pr1">
                <div>
                    <h2 id="title"></h2>
                </div>
                <div>
                    <svg
                        id="filter-icon" 
                        class="filter-icon" 
                        width="1.0509777mm"
                        height="0.99619913mm"
                        viewBox="0 0 1.0509777 0.99619913"
                        version="1.1"
                        
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:svg="http://www.w3.org/2000/svg">
                        <defs
                            id="defs1" />
                        <g
                            id="layer1"
                            transform="translate(-0.03901383,-0.0036098)">
                            <path
                            style="fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.0417738;stroke-dasharray:none;stroke-opacity:1"
                            d="m 0.13971859,0.00364595 0.001724,0.9961268"
                            id="path15-4-9-6-9" />
                            <path
                            style="fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.0417738;stroke-dasharray:none;stroke-opacity:1"
                            d="m 0.41943004,0.003646 0.001724,0.99612675"
                            id="path15-4-9-6-9-1" />
                            <path
                            style="fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.0417738;stroke-dasharray:none;stroke-opacity:1"
                            d="m 0.69914148,0.00364604 0.001724,0.99612671"
                            id="path15-4-9-6-9-1-7" />
                            <path
                            style="fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.0417738;stroke-dasharray:none;stroke-opacity:1"
                            d="m 0.97885433,0.00364604 0.00172,0.99612675"
                            id="path15-4-9-6-9-1-5" />
                            <rect
                            style="fill:#e60000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.126646;stroke-dasharray:none;stroke-opacity:1"
                            id="filter-4"
                            class=""
                            width="0.074832343"
                            height="0.05056271"
                            x="0.95183623"
                            y="0.78871787"
                            ry="0.0038471627" />
                            <rect
                            style="fill:#e60000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.126646;stroke-dasharray:none;stroke-opacity:1"
                            id="filter-3"
                            class=""
                            width="0.074832343"
                            height="0.05056271"
                            x="0.65756077"
                            y="0.78293473"
                            ry="0.0038471627" />
                            <rect
                            style="fill:#e60000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.126646;stroke-dasharray:none;stroke-opacity:1"
                            id="filter-2"
                            class=""
                            width="0.074832343"
                            height="0.05056271"
                            x="0.38356236"
                            y="0.78225619"
                            ry="0.0038471627" />
                            <rect
                            style="fill:#e60000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.126646;stroke-dasharray:none;stroke-opacity:1"
                            id="filter-1"
                            class=""
                            width="0.075522095"
                            height="0.05056271"
                            x="0.10233683"
                            y="0.7791568"
                            ry="0.0038471627" />
                        </g>
                    </svg>
                </div>
            </div>
            <div>
                <div id="filter-inputs"></div>       
            </div>    
        </div>
        <div id="listby-content">

        </div>
    </div>
    <div id="filters-modal" class="modal">
        <div class="">
            <div id="" class="modal-header">
                <span  id="close-modal" class="font20px cursor pr1">&times;</span>
            </div>

            <div class="dflex mt05">
                <div class="w50 pl1">
                    <b>Filtrar por texto</b>
                </div>

                <div class="w50 jc-end">
                    <label class="switch">
                        <input id="switch-1" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <div class="dflex mt05">
                <div class="w50 pl1">
                    <b>Por fecha </b>
                </div>
                <div class="w50 jc-end">
                    <label class="switch">
                    <input id="switch-2" type="checkbox">
                    <span class="slider"></span>
                    </label>
                </div>
            </div>
            
            <div class="dflex mt05">
                <div class="w50 pl1">
                    <b>Por categoría</b>
                </div>
                <div class="w50 jc-end">
                    <label class="switch">
                        <input id="switch-3" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <div class="dflex mtb05">
                <div class="w50 pl1">
                    <b>undefined criterio</b>
                </div>
                <div class="w50 jc-end">
                    <label class="switch">
                        <input id="switch-4" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>  
<script>

var data = null;
init()

async function init() {
    document.getElementById('title').innerText =` Que empiezan por ${getVal}`;
    var filtersIcon = document.getElementById('filter-icon');
    var filtersModal = document.getElementById('filters-modal');
    var closeFiltersModal = document.getElementById('close-modal');
    var switchs = document.querySelectorAll('input[type="checkbox"]');
    switchs.forEach(e => {
        e.addEventListener('click',() => {showHideInputFilter(e)});
    });
    filtersIcon.addEventListener('click', () => {
        filtersModal.style.display = "flex";
    })
    closeFiltersModal.addEventListener('click', () => {
        filtersModal.style.display = "none";
    })

    var storage = false;
    var storageObj = JSON.parse(sessionStorage.getItem('listby'))
    if (storageObj != null) {    
        for (let i=0; i<storageObj.char.length; i++) { 
            if (Object.keys(storageObj.char[i])[0] == getVal) {
                storage = true;
                data = storageObj.char[i];
            }
        }
    }
    if (storage == false)
        await fetchUrls();
    liLinks();       
}

function liLinks() {
    var div = document.getElementById('listby-content');
    var urls = Object.values(data[getVal]);
    var ul = document.createElement('ul');
    ul.id = 'links';
    for (let i=0; i<urls.length; i++) {
        text = decodeURIComponent(urls[i].articleUrl.split('/').at(-1)).replaceAll('_',' ')
        var li = `<li data-articleurl="${decodeURIComponent(urls[i].articleUrl.split('/').at(-1))}"
                    data-text="${text}"
                    data-neditions=${urls[i].total}
                    data-dates=${JSON.stringify(urls[i].dates)}
                    data-category="undefined" >
                        <div class="link d-mr-2">
                            <a href="#diffs?diff=${urls[i].articleUrl}">${text}</a>
                            <label class="n-editions">${urls[i].total}</label>
                            <label class="bg-cyan info d-mr2" onclick="info(event)"><b>?</b></label>
                        </div>
                    </li>`;
        // ${urls[i].total} edits → icon pencil, slot pill edit, pill category
/*
<li class="d-mr1-5"><div class="link"><a href="#diffs?diff=${urls[j].articleUrl}">${text}</a>
                <label title="nº de ediciones" class="n-editions">N </label>
                <label class="bg-cyan info" onclick="info(event)"><b>?</b></label>
                </div></li>`
*/

        ul.insertAdjacentHTML('beforeend',li);
    }
    div.appendChild(document.createElement('div'))
    div.lastChild.appendChild(ul)
}

async function fetchUrls() {
    var urls = await query('urlsStartsWith',getVal,0);
    var ini = new Date('2-2-2222')
    var end = new Date('1-1-1111')
  
    for (let i=0; i<urls.length; i++) {
        dates = JSON.parse(urls[i].dates);
        urls[i].dates = dates;
        urls[i].total = dates.length;
        for (let j=0; j<dates.length; j++) {
            let minMaxDate = new Date(dates[j].split('/')[2]+'-'+dates[j].split('/')[1]+'-'+dates[j].split('/')[0]);
            if (minMaxDate < ini) 
                ini = minMaxDate;
            if (minMaxDate > end) 
                end = minMaxDate;
        }
    }
    var storageObj = JSON.parse(sessionStorage.getItem('listby'));
    var config = { minmaxdate: { ini: ini.toISOString().split('T')[0], end: end.toISOString().split('T')[0] } }
    if (storageObj == null) { 
        storageObj = { char:[] };
        storageObj.char.push({ [getVal]: urls, config: config });
        sessionStorage.setItem('listby',JSON.stringify(storageObj));
    }
    else {
        storageObj.char.push({ [getVal]: urls, config: config });
        sessionStorage.setItem('listby',JSON.stringify(storageObj));
    }
    data = { [getVal]: urls, config: config };
}

function showHideInputFilter(input) {
    var div = document.getElementById('filter-inputs');
    var id = input.id.split('-')[1];
    var rect = document.getElementById(`filter-${id}`);
    
    if (id == "1") { // text
        elem = `<div id="filter-switch-1" class="bg-cyan">
                    <label class="ml05">Buscar:</label>
                    <input id="search" type="text" class="mr05 ml05 w70" placeholder="text">
                </div>`;

    } else if (id == "2") { // date 
        elem = `<div id="filter-switch-2" class="bg-green2">
                    <label class="ml05 pl03">Inicio</label>
                    <input  id="begin" type="date" class="mr05 ml05"
                        min="${data.config.minmaxdate.ini}" 
                        max="${data.config.minmaxdate.end}">
                    <label class="">Fin</label>
                    <input  id="end" type="date" class="mr05 ml05"
                        min="${data.config.minmaxdate.ini}"
                        max="${data.config.minmaxdate.end}">
                </div>`;

    } else if (id == "3") { // category
        elem = `<div id="filter-switch-3" class="bg-gold">
                    <label class="">Categoría</label>
                    <select id="category" class="w50" ><option>Categoria</option><option>Categoria1</option></select>
                </div>`;
        
    } else { // undefined
        elem = `<div id="filter-switch-4" class="bg-yellow"><span >undefined</span></div>`;
    }

    if (input.checked) {
        div.insertAdjacentHTML('beforeend',elem)
        let inputs = div.querySelector(`#filter-switch-${id}`).querySelectorAll('input,select')
        inputs.forEach(elem => {
            if (elem.type == 'date' || elem.type == 'select-one')
                elem.addEventListener('change',filterData)
            else
                elem.addEventListener('input',filterData)
        })

        if (rect.classList.contains('slide-down'))
            rect.classList.remove('slide-down');
        rect.classList.add('slide-up')

    } else {
        rect.classList.add('slide-down')
        rect.classList.remove('slide-up')
        let inputs = div.querySelector(`#filter-switch-${id}`).querySelectorAll('input,select')
        inputs.forEach(elem => {
            if (elem.type == 'date' || elem.type == 'select-one')
                elem.removeEventListener('change',filterData)
            else
                elem.removeEventListener('input',filterData)
        })
        document.getElementById(`filter-switch-${id}`).remove()
        filterData()
    }
}

function filterData(e) {

    applySearchFilter = false;
    applyDateFilter = false;
    applyCategoryFilter = false;

    var searchInput = document.getElementById('search')
    var begin = document.getElementById('begin')
    var end = document.getElementById('end')
    var categorySelect = document.getElementById('category')

    if (searchInput != null)
        if (searchInput.value != '')
            applySearchFilter = true;
    if (begin != null)
        if (begin.value != '' || end.value != '')
            applyDateFilter = true;
    if (categorySelect != null)
        if (categorySelect.value != 'Categoria')
            applyCategoryFilter = true;

    document.querySelectorAll('li').forEach(li => {
        let display = true;
        if (applySearchFilter) {
            if (!li.dataset.text.toUpperCase().includes(searchInput.value.toUpperCase()) ||
            !li.dataset.articleurl.toUpperCase().includes(searchInput.value.toUpperCase()) )
                display = false;
        }
        if (applyDateFilter) {
            let dates = JSON.parse(li.dataset.dates);           
            for (let i=0; i<dates.length; i++) {
                let date = new Date(dates[i].split('/')[2]+'-'+dates[i].split('/')[1]+'-'+dates[i].split('/')[0]);

                if (e.target.id == 'begin' && e.target.value != "" && end.value == "" && display == true) {     // [begin,inf)
                    if (date < new Date(e.target.value))
                        display = false;
                }
                else if (e.target.id == 'end' && e.target.value != "" && begin.value == "" && display == true) {    // (-inf,end] 
                    if (date > new Date(e.target.value))
                        display = false;
                }
                else if (begin.value != "" && end.value != "" && display == true) {   // [begin,end]
                    if (date <= new Date(begin.value) || date >= new Date(end.value))
                        display = false;    
                }   
            }
        }
        if (applyCategoryFilter) {
            console.log('applyCategoryFilter')
            // appy 
        }
            
        li.style.display = display? "block" : "none";
    });  
          
}

/*

    order by:
        category
        nº editions: asc|desc+
        
        category: [TODO]
*/

</script>                     
