<style>

.item {
    padding: 1rem 1.5rem 1rem 1.5rem;
    transition: transform 0.3s ease;
    clip-path:polygon(15% 21%, 100% 0%, 85% 100%, 0% 100%);
    background-color: red;
}
.item:hover {
    transform: scale(1.2);   
}
.menu-links {
    display: flex; 
    position: relative;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: center;
    margin-right: 20vw;
    margin: 0;
    padding: 0;
}
.icon {
    display:none;
}
/* mobile */
@media (max-width: 1400px) and (orientation: landscape), (max-width: 1400px) and (orientation:portrait) {   
    #svgdiv {
        padding:0.7rem;
    }
    nav {
        position: fixed;
        top: 0;
        z-index: 3000;
    }
    .item {
        padding: 0rem 0rem 0.5rem 0rem; 
        clip-path: polygon(8% 0%, 100% 0%, 90% 100%, 0% 90%);   
        background-color: red;
        margin: 0rem 0.9rem 0.9rem 0rem;
        padding: 0rem 0.7rem 0.3rem 0.7rem;
        text-align: center;
    }
    .item:hover {
        transform: none;
    }
    .item:first-child {
        margin-top: 0.4rem;
    }  
    .item > a {
        display: block;
        width: 100%;
    }
    .menu-links {
        flex-direction: column;
        transition: left 1s ease;
        width:fit-content;
        left:-300px;
    }
    .openmenu {
        left:0px;
    }
    .icon {
        margin: 0.5rem 0 0 0.5rem;
        display:inline;
        width:40px;
        height:40px;
        transition: transform 1s ease;           
    }
    .rota {
        transform: rotate(-90deg)
    }
     /* #ISSUE1 class */
    .display-none {
        display: none;
    }
}
</style>

<div id="menu">            
    <nav>
        <div id="svgdiv">
            <img id="menu-icon" class="icon" src="resources/svg/vrt.svg" alt="" srcset="">
        </div>
        <div id="items" class="menu-links ">
            <a href="/public/#index"><div class="item"><b>Inicio</b></div></a>
            <a href="/public/#diffs?var=random" onclick="route()"><div class="item"><b>Página aleatoria</b></div></a>
            <a href="/public/#alfabetrium"><div class="item"><b>Alfabéticamente</b></div></a>
            <a href="/public/#categories"><div class="item"><b>Categorías</b></div></a>
            <a href="/public/#users"><div class="item"><b>Usuarios</b></div></a>
            <a href="/public/#notes"><div class="item"><b>Notas</b></div></a>
        </div>
    </nav>
</div>

<script>
    var img = document.getElementById('menu-icon');
    var items = document.getElementById('items');
    // #ISSUE1 : elements under menu overlapping area can't be clicked
    // #SOL1 : change to display:none, break open animation
    items.classList.add('display-none') // #ISSUE1
    img.addEventListener('click', () => {
        img.classList.toggle('rota')
        items.classList.toggle('openmenu')
// #ISSUE1 begin block
        if (items.classList.contains('display-none')) 
            items.classList.remove('display-none')
    })
    items.addEventListener('transitionend',() => {
        if (!items.classList.contains('openmenu')) { 
            items.classList.add('display-none')
        }
    })
// #ISSUE1 end block

    menuLinks = document.querySelectorAll('a');
    menuLinks.forEach(element => {
        // if (!element.href.includes('random')) {}
        element.addEventListener('click', () => {
            img.click()
        })   
    });
</script>